doctype html
html
    head
        meta(charset="UTF-8")
        title = 添加图书
        link(href="/www/style.css",type='text/css',rel='stylesheet')
            
body
    div 添加图书
    form(action="/addBook",method="post")
        | 名称： 
        input(type="text",name="name")
        <br>
        | 作者： 
        input(type="text",name="author")
        <br>
        | 类型： 
        input(type="text",name="category")
        <br>
        | 描述： 
        input(type="text",name="desc")
        <br>
        input(type="submit", value="提交")